<!-- 
 job.component.html
 ReallyBigData

 Created by Ian Cordero on 11/16/17.

 -->

<span class="title">{{ title }}</span>
<p>
    {{ info }}
</p>
<div style="max-height: 300px; overflow: auto;">
    <ul>
        <li *ngFor="let log of logs">
            {{ log }}
        </li>
    </ul>
</div>
<div class="progress"
     *ngIf="running">
    <i class="fa fa-spinner rotatingIcon"></i>
</div>
<div class="actions">
    <button type="button" class="actionBtn"
            (click)="run()">
        Run
    </button>
    <button type="button" class="actionBtn"
            (click)="stop()">
        Stop
    </button>
</div>